body {
    background-image: url(https://images6.alphacoders.com/860/thumb-1920-860645.png);
    background-size: cover;
    background-position: center bottom;
}

.peach img {
    width: 300px;
    height: 300px;
    margin-top: 500px;
}